<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <img src="<%= require('./images/webpack2.png') %>" \>
    Hola Mundo desde servidor web 
    <p>desde ejs</p>
    <div id="root"></div>
</body>
</html>